MQTT_BROKER_HOST=localhost
MQTT_BROKER_PORT=1883
MQTT_TOPIC=city/sensors/environment

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=sensor_stream

SQLITE_DB=storage/sensor_data.db
CSV_FILE=storage/sensor_data.csv
